<!DOCTYPE html>
<html>
<head>
    <title>
        DcMonitor
    </title>

#include("/public/head.html")

    <script type="application/javascript">
				$(function(){
					addActive($('#index_nav'));
				});
		</script>

</head>
<body>

#include("/public/nav.html")


<div class="introduction container">
        <div class="jumbotron">
        <h1>DataCenter Monitor</h1>
        <p>
            <label for="">
                Simple Monitor about zk/druid/kafka
            </label>

            <a class="gh-btn" id="gh-btn" href="https://github.com/shunfei/DCMonitor/" target="_blank" aria-label="View on GitHub">
                <span class="gh-ico" aria-hidden="true"></span>
                <span class="gh-text" id="gh-text">View it on Github</span>
            </a>
        </p>

         <p>

         </p>
        <p><a class="btn btn-primary btn-lg" href="/kafka" role="button">Ready To Go</a></p>
    </div>
</div>


</body>

<script>


</script>
</html>