<!DOCTYPE html>
<html>
<head>
	#include("/public/head.html")
    <title>
        Zookeeper Monitor
    </title>
    <link rel="stylesheet" href="/css/smartpaginator.css">
    <script src="/js/druid_console.js"></script>
    <script src="/js/smartpaginator.js"></script>

</head>
<body>
	#include("/public/nav.html")

<div class="container">


    <div class="col-md-12">
        <h4>RealTime Nodes<a class="plus">-</a></h4>
        <table id="druid_realtime" class="ui celled table">

        </table>
    </div>


    <div class="col-md-12">
        <h4>MiddleManager Nodes<a class="plus">-</a></h4>
        <table id="druid_middle" class="ui celled table">

        </table>
    </div>




    <div class="col-md-12">
            <h4>Coordinator Nodes<a class="plus">-</a></h4>
            <table id="druid_coordinator" class="ui celled table">

            </table>
        </div>


        <div class="col-md-12">
            <h4>Overlord Nodes<a class="plus">-</a></h4>
            <table id="druid_overlord" class="ui celled table">
            </table>
        </div>





		<div class="col-md-12">
				<h4>Broker Nodes<a class="plus">-</a></h4>
				<table id="druid_broker" class="ui celled table">

				</table>
		</div>

		<div class="col-md-12">
				<h4>Historical Nodes<a class="plus">-</a></h4>
				<table id="druid_history" class="ui celled table">

				</table>
		</div>






</div>


</body>

<script>


</script>
</html>