<!DOCTYPE html>
<html>
<head>
    <title>
        Kafka Monitor
    </title>

	#include("/public/head.html")
   <script src="/js/kafka_console.js"></script>

</head>
<body>
#include("/public/nav.html")
<div class="container">

        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Kafka Clusters<a class="plus">-</a></h4>
                <table id="kafka_table" class="m_table table table-bordered table-striped tablesorter">

                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Active Topics<a class="plus">-</a></h4>
                <table id="kafka_active" class="m_table table table-bordered table-striped">

                </table>
            </div>
            <div class="col-md-6">
                <h4>Storm Kafka Clients<a class="plus">-</a></h4>
                <table id="storm_kafka_client" class="m_table table table-bordered table-striped success">
                </table>
            </div>
        </div>


        <div class="col-md-12">

            <div class="col-md-6">
                <h4>Topics<a class="plus">-</a></h4>
                <table id="kafka_topic" class="m_table table table-bordered table-striped success">

                </table>
            </div>

            <div class="col-md-6">
                <h4>Consumers<a class="plus">-</a></h4>
                <table id="kafka_consumer" class="m_table table table-bordered table-striped success">

                </table>
            </div>

        </div>


</div>


</body>

<script>


</script>
</html>