<!DOCTYPE html>
<html>
<head>
    <title>
        Kafka Monitor
    </title>

	#include("/public/head.html")
   <script src="/js/kafka_console.js"></script>

</head>
<body>
#include("/public/nav.html")
<div class="ui container">

        <div class="ui two column grid">
            <div class="eight wide column">
                <h4>Kafka Clusters<a class="plus">-</a></h4>
                <table id="kafka_table" class="ui celled striped table">

                </table>

            </div>
        </div>

        <div class="ui two column grid">
            <div class="eight wide column">
                <h4>Active Topics<a class="plus">-</a></h4>
                <table id="kafka_active" class="ui celled table">

                </table>
            </div>
            <div class="eight wide column">
                <h4>Storm Kafka Clients<a class="plus">-</a></h4>
                <table id="storm_kafka_client" class="ui celled table">
                </table>
            </div>
        </div>


        <div class="ui two column grid">

            <div class="eight wide column">
                <h4>Topics<a class="plus">-</a></h4>
                <table id="kafka_topic" class="ui celled table">

                </table>
            </div>

            <div class="eight wide column">
                <h4>Consumers<a class="plus">-</a></h4>
                <table id="kafka_consumer" class="ui celled table">

                </table>
            </div>

        </div>


</div>


</body>

<script>


</script>
</html>